<!--
<h1>Listing equipamentos</h1>
-->
<br/>
<table cellpadding=0 cellspacing=0 width="99%">
	<tr  bgcolor="E6F3FF">
    	<th colspan="2"> Listagem de Equipamentos </th>
    </tr>
  <tr bgcolor="E6F3FF">
    
	<th align="center">Id</th>
    <th align="center">Descricao</th>
    <th align="center">Voltagem</th>
    <th align="center">Modelo</th>
    <th align="center">Marca</th>
    <th align="center">Serviços</th>

  </tr>

<% @equipamentos.each do |equipamento| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td align="center"><%= equipamento.id %></td>
    <td align="center"><%= equipamento.descricao %></td>
    <td align="center"><%= equipamento.voltagem %></td>
    <td align="center"><%= equipamento.modelo %></td>
    <td align="center"><%= equipamento.marca %></td>
    <td align="center">
    <!--	<%= link_to 'Listar', equipamento %> -->
		<%= link_to 'Serviços', equipamento_path(equipamento)+"/servicos"%>

	</td>
  </tr>
<% end %>
	<tr  bgcolor="E6F3FF">
    	<th colspan="6"> Total Registros:  <%= @equipamentos.count %> </th>
  	</tr>
</table>
