<h3 style="margin: 0;">:: Lista de Equipamentos ::</h3>
<div id="divContainerConteudo" style="width: 89%; margin:0;">
<table cellpadding=0 cellspacing=0 border=1 width="98%" bordercolor="#cccccc" align="center">
  <tr>
    <th align="center">Id</th>
    <th align="center">Descricao</th>
    <th align="center">Voltagem</th>
    <th align="center">Modelo</th>
    <th align="center">Marca</th>
    <th align="center">Acao</th>
  </tr>

<% @equipamentos.each do |equipamento| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= equipamento.id %></td>
    <td><%= equipamento.descricao %></td>
    <td><%= equipamento.voltagem %></td>
    <td><%= equipamento.modelo %></td>
    <td><%= equipamento.marca %></td>
    <td>
    	<%= link_to 'Editar', edit_equipamento_path(equipamento) %> | 
    	<%= link_to 'Deletar', equipamento, :method => :delete, :data => { :confirm => 'Deseja Deletar o Registro?' } %> | 
<%= link_to 'Listar Serviços', equipamento_path(equipamento)+"/servicos"%>

	</td>
  </tr>
<% end %>
	<tr>
    	<th colspan="6" align="right"> Total Registros:  <%= @equipamentos.count %> </th>
  	</tr>
</table>
</div>
