<h3 style="margin: 0;">:: Lista de Técnicos ::</h3>
<div id="divContainerConteudo" style="width: 89%; margin:0;">
<table cellpadding=0 cellspacing=0 border=1 width="98%" bordercolor="#cccccc" align="center">
  <tr>
    <th align="center">Id</th>
    <th align="center">Nome</th>
	<th align="center">Registro</th>
    <th align="center">Acao</th>
  </tr>

<% @tecnicos.each do |tecnico| %>
  <tr tr class="<%= cycle("even", "odd") %>">
    <td><%= tecnico.id %></td>
    <td><%= tecnico.nome %></td>
    <td><%= tecnico.registro %></td>
    <td>
		
		<%= link_to 'Editar', edit_tecnico_path(tecnico) %> | 
    	<%= link_to 'Deletar', tecnico, :method => :delete, :data => { :confirm => 'Deseja Deletar o Registro?' } %>
		<%= link_to 'Listar Serviços', tecnico_path(tecnico)+"/servicos"%>
	</td>

  </tr>
<% end %>
	<tr>
    	<th colspan="4" align="right"> Total Registros:  <%= @tecnicos.count %> </th>
  	</tr>
</table>
</div>
