<br>
<table cellpadding=0 cellspacing=0>
	<tr  bgcolor="E6F3FF">
    	<th colspan="2"> <%= notice %> </th>
    </tr>
	<tr>
		<td>Id: </td>
		<td> <%= @tecnico.id %> </td>
	</tr>
	<tr>
		<td>Nome: </td>
		<td> <%= @tecnico.nome %> </td>
	</tr>
	<tr>
		<td>Registro: </td>
		<td> <%= @tecnico.registro %> </td>
	</tr>

</table>
<br>
<%= link_to 'Editar', edit_tecnico_path(@tecnico) %> |
<%= link_to 'Voltar', tecnicos_path %>